<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="panel panel-success">
            <div class="panel-heading">Регистрация</div>
            <div class="panel-body">
                {{ form_start(form) }}

                {{ form_widget(form) }}

                <button class="btn btn-success" type="submit">Регистрация</button>

                <a class="btn btn-default" href="/">Вернуться</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>