<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading">Войти на сайт</div>
            <div class="panel-body">
                {{ form_start(form) }}

                {{ form_widget(form) }}

                <button class="btn btn-info" type="submit">Войти</button>

                <a class="btn btn-default" href="/register">Зарегистрироваться</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
