<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading">Привет, {{ user.name }}</div>
            <div class="panel-body">
                Вы зашли как <strong>{{ user.email }}</strong><br>
                <a class="btn btn-default" href="/index/logout">Выйти</a>
            </div>
        </div>
    </div>
</div>
