<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta name="title" content="{{ title }}">
    <meta name="author" content="Pavel Babushkin">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/public/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/css/bootstrap-theme.css">
</head>
<body>

<div class="container">
    {{ page|raw }}
</div>

<script type="text/javascript" src="/public/assets/js/bootstrap.min.js"></script>
</body>
</html>